<p>jShoulda, just as the <a href="http://www.thoughtbot.com/projects/shoulda" title="thoughtbot: Shoulda testing plugin">Shoulda</a> testing plugin it's inspired on, <q>makes it easy to write elegant, understandable, and maintainable tests.</q> JavaScript.</p>


<h2>A minimal test document</h2>

<p>You need the following files to use jShoulda:</p>

<ul>
  <li><a href="http://jsunittest.com/dist/jsunittest.js">jsunittest.js</a>, from the <a href="http://jsunittest.com/">JsUnitTest</a> project. If you're using <a href="http://www.prototypejs.org/" title="Prototype JavaScript framework: Easy Ajax and DOM manipulation for dynamic web applications">prototype</a>, you may use <a href="http://github.com/sstephenson/prototype/tree/master%2Ftest%2Flib%2Fassets%2Funittest.js?raw=true">unittest.js</a> instead.</li>
  <li><a href="/js/jshoulda.js">jshoulda.js</a>, from the <a href="/">jShoulda</a> project.</li>
</ul>

<p>Create an HTML document which references both scripts. Include a <code>div</code> element with <code>id</code> <var>testlog</var>, then your testing code. <a href="/example/minimal.html">Run it</a>, enjoy.

<%= example('minimal.html', false) %>

<h2>jShoulda syntax</h2>

<p>By default, jShoulda exports two methods to the global space: <code>context</code> and <code>should</code>.</p>

<p>To create a test runner (which will be automatically executed on <code>window.onload</code>), invoke <code>context</code>, then execute the result:</p>

<%
code =<<-EOD
context('The name of the context')();
EOD
%>
<%= highlight(code, 'javascript') %>

<p>The first argument to <code>context</code> is the base name for actual tests derived from it. The second is an (optional) object which may include <code>setup</code> and <code>teardown</code> methods:</p>

<%
code =<<-EOD
context('The name of the context', {
  setup: function() {
    // `this` is a Test.Unit.Testcase instance
    this.foo = 1;
  },
  teardown: function() {
    // you don't need to clean up `this`'s properties,
    // the Test.Unit.TestCase is brand new for every actual test
  }
  }
)();
EOD
%>
<%= highlight(code, 'javascript') %>

<p>Hint: You can use <code>before</code>/<code>after</code> instead of <code>setup</code>/<code>teardown</code> if it makes you feel better.</p>

<p>Include <code>should</code> calls after the (optional) configuration object to create actual tests:</p>

<%
code =<<-EOD
context('A context', {
  setup: function() {
    this.foo = 1;
  }
  },
  should('run its setup function', function() {
    this.assertEqual(1, this.foo);
  })
)();

// if you don't need setup/teardown methods
context('A context',
  should('run its setup function', function() {
    this.assertEqual(1, this.foo);
  })
)();
EOD
%>
<%= highlight(code, 'javascript') %>

<p>Every call to <code>should</code> must pass a name and a callback as arguments. Assertions are run inside the callback, where <code>this</code> points to a <code>Test.Unit</code> instance (the same you can manipulate on <code>setup</code>/<code>teardown</code>).</p>

<p>To create new contexts (on which every <code>setup</code>/<code>teardown</code> function from parent contexts is ran), pass a call to <code>context</code> as an argument:</p>

<%
code =<<-EOD
context('A context', {
  setup: function() {
    this.foo = 1;
  }
  },
  should('run its setup function', function() {
    this.assertEqual(1, this.foo);
  }),
  context('which is a "nested" context', {
    setup: function() {
      this.foo +=1;
    }
    },
    should('run both setup functions', function() {
      this.assertEqual(2, this.foo);
    })
  )
)();
EOD
%>
<%= highlight(code, 'javascript') %>

<p>You can nest as much contexts as you like.</p>

<h2>Assertions</h2>

<p>Assertions come from the JsUnitTest library. Almost every assertion accepts three arguments: the expected value, the actual one and an optional message. An intentionally incomplete list of possible assertions follows:</p>

<ul>
  <li>assert</li>
  <li>assertEqual</li>
  <li>assertNotEqual</li>
  <li>assertEnumEqual</li>
  <li>assertEnumNotEqual</li>
  <li>assertHashEqual</li>
  <li>assertHashNotEqual</li>
  <li>assertIdentical</li>
  <li>assertNotIdentical</li>
  <li>assertNull</li>
  <li>assertNotNull</li>
  <li>assertUndefined</li>
  <li>assertNotUndefined</li>
</ul>


<h2>Customizing the Test Runner</h2>

<p>The progress and results of your tests are shown, by default, on a <code>div</code> element whose <code>id</code> equals <var>testlog</var>. If you want to modify the behaviour of the runner, pass a configuration object when invocating the root context call result:
  
<%
code =<<-EOD
context('A context',
  should('run a test', function() {
    this.assert('Yay!');
  }),
)({ testLog: 'my_test_log_div_id' });
EOD
%>
<%= highlight(code, 'javascript') %>

<h2 id="aliasing">Aliasing</h2>

<p>You can easily create alias to <code>context</code> and <code>should</code> methods. In fact, they are alias themselves.</p>

<p>Say you wanted to use <code>some</code>/<code>must</code> instead of (actually, in addition) to <code>context</code>/<code>should</code>. You could just do:</p>

<%
code = <<-EOD
jShoulda
  .setShouldAlias('must')
  .setContextAlias('some');

some('context',
  must('run a test', function() {
    this.assert('Yay!');
  })
)();
EOD
%>
<%= highlight(code, 'javascript') %>

<p>Both <code>setBlahAlias</code> create methods which works just as <code>context</code> and <code>should</code> do. But instead of getting a “should” connector, you get a connector named as the method, that is, the full name of the test we've created in the previous example, would be “A context must run a test”.</p>

<p>Pass a second argument to <code>setShouldAlias</code> if you want a different connector (or no connector at all). Pass a second argument to <code>setContextAlias</code> if you want a prefix for your context.</p>

<% 
code = <<-EOD
jShoulda
  .setShouldAlias('it', '')
  .setContextAlias('describe');

describe('A context',
  it('runs a test', function() {
    this.assert('Yay!');
  })
)();
EOD
%>
<%= highlight(code, 'javascript') %>


<p>or</p>

<%=
highlight(<<-EOD, 'javascript')
jShoulda
  .setContextAlias('un', 'Un')
  .setContextAlias('para', 'para')
  .setShouldAlias('deberia', 'debería');

un("programador",
  para("ser feliz",
    deberia("poder comer melocotones de Calanda todo el año", function() {
    })
  )
)();
EOD
%>

<p>In this last case, the outputted name for our test will be “Un programador para ser feliz debería poder comer melocotones de Calanda todo el año”.</p>

<p>Of course, you can mix as much aliases as you like.</p>

<h2 id="extra-properties">Extending the test cases (new in 1.2)</h2>

<p>Properties in the configuration object (other than setup/teardown/before/after) are copied to each <code>Test.Unit.Testcase</code> inside the context—that is, are accesible through <code>this</code> inside the <code>should</code> callbacks.</p>

<% 
code = <<-EOD
context("A 'should' execution", {
  assertLocalYipiyay : function(actual, msg) {
    this.assertEqual('yipiyay', actual, msg);
  }
  },
  should("get access to extra properties defined on the configuration object", function() {
    this.assertLocalYipiyay('yipiyay');
  })
)();
EOD
%>
<%= highlight(code, 'javascript') %>

<h2 id="unifying-test-runners">Unifying test runners (new in 1.2)</h2>

<p>By default, each root contexts creates a new <code>Test.Unit.Runner</code> instance, so if you're not using different loggers, headers may report wrong results. And, if you are using the rake tasks provided with <strong>newjs</strong> or <strong>rails</strong>, only the results of one of the contexts would get logged.</p>

<p>Not a problem? Well... in addition, you can't load tests from multiple files! Isn't that a problem?</p>

<p>jShoulda provides the method <code>unifyRunners</code>. It saves the world.</p>

<p>There are three ways to use the method:</p>

<% 
code = <<-EOD
// with no arguments
// every next root context inherits the runner
// from the previous (if any) root context
jShoulda
  .unifyRunners();


// with option arguments
// every next root context uses a new
// runner created from the options
jShoulda
  .unifyRunners({testLog: 'testlog2'});

// if you've created a testRunner through the
// traditional syntax, you can reuse it
var runner = new Test.Unit.Runner({
  testDummy : function() {
    this.assert(true);
  }
});
jShoulda
  .unifyRunners(runner);
EOD
%>
<%= highlight(code, 'javascript') %>




<h2>Questions?</h2>

<p>Feel free to ask on the <a href="http://groups.google.com/group/jshoulda">jShoulda Google Group</a>.</p>

<p><a href="/">jShoulda home page</a>.</p>