body {
  width: 40em;
  margin: 0 auto;
  background: #fff0ef;
  color: #200;
  font: 1em/1.5 lucida grande, sans-serif;
}

pre {
  background: #222;
  color: #6f6;
  padding: 1em;
  overflow: auto;
}

p.download {
  text-align: center;
  margin: 2em 0;
}

p.download a {
  background: #eed0e0;
  border: 2px solid #930;
  padding: 1em;
}

a {
  color: #930;
}

a:visited {
  color: #333;
}