<p><strong>jShoulda</strong> acts as a wrapper to the <a href="http://github.com/drnic/jsunittest/">JsUnitTest</a> library, allowing you to write JavaScript unit tests in a <a href="http://www.thoughtbot.com/projects/shoulda">Shoulda</a>-like language.</p>


<h2>What you write</h2>

<%= highlight(render('home_test'), 'javascript', {:id => 'editable-test'}) %>


<h2>... is what you test</h2>
  
<div id="testlog"><p>The tests results will be displayed here.</p></div>

<script type="text/javascript">
<%= render('home_test') %>
</script>


<p class="download"><a href="/js/jshoulda.js">Download jShoulda</a></p>

<p>jShoulda has been created by <a href="http://choangalvez.nom.es/">Choan Galvez</a> and is freely distributable under the terms of a MIT-style license. The source code resides in a <a href="http://github.com/choan/jshoulda/">Git repository at github</a>.</p>

<p>Interested? Check our <a href="/tutorial/">tutorial on jShoulda</a>.</p>