<p><strong>jShoulda</strong> acts as a wrapper to the <a href="http://github.com/drnic/jsunittest/tree">JsUnitTest</a> library, allowing you to write JavaScript unit tests in a <a href="http://www.thoughtbot.com/projects/shoulda">Shoulda</a>-like language.</p>



<h2>What you write</h2>

<pre id="editable-test"><code class="javascript"><%= render('home_test') %></code></pre>


<h2>... is what you test</h2>

<p>This is an actual, live test.</p>
  
<div id="testlog"></div>


<script type="text/javascript">
  <%= render('home_test') %>
</script>


<p class="download"><a href="/js/jshoulda.js">Download jShoulda</a></p>

<p>jShoulda has been created by <a href="http://choangalvez.nom.es/">Choan Galvez</a> and is freely distributable under the terms of a MIT-style license. Documentation and source code repository are coming soon.</p>
